# Refactoring the Data

Time to dust off the `pandas` skills and switch to `jupyter notebooks`  for data cleaning.  Data cleaning for this project was relatively intensive but not overly complicated.  Some highlights include:

1. The dataset includes **10,521 properties**
2. I split the full bath/half bath column into seperate columns
3. I split the zipcode into a seperate column.  Zip codes contains valuble location information shared across properties.  Homes in zipcodes with less than 20 results were dropped from the dataset.
4. An average was taken for the bedroom counts if a bedroom range was given.  The assumption here is that the home contains "extra" rooms currently not used as a bedrooms. 

`Example: 4-5 Bedrooms`

$$ \frac{4+5}{2} = 4.5$$

`Example: 2-6 Bedrooms`

$$ \frac{2+6}{2} = 4$$

5. I dropped properties that didn't have a building squarefoot value.
6. I dropped properties that didn't have a year built value.

The whole `jupyter notebook` is shown below, demonstrating my process for systematically cleaning each column.  
The end result?  A new csv file with **10,181** cleaned properties ready for analysis!  Onward to Data Exploration.

In [214]:
import pandas as pd
import pathlib

In [303]:
#Allows export of friendly html for blog posting
import ipywidgets as widgets

In [215]:
# Import csv file as pandas dataframe
output_dir = 'output/'
filename = '2019-06-27 15:19:48.066376.csv'
df = pd.read_csv(output_dir+filename)

# Preview Raw Data

In [216]:
# Format pandas display to only show 25 columns (helps with jupyter notebook formatting
# in some cases)
pd.set_option('display.max_columns', 25)

In [217]:
# How many properties and features?
df.shape

(10521, 20)

In [218]:
# Preview the first row of data
df.head(1)

,address,bathrooms,bedrooms,building_sqft,desc,garages,img_url,list_price,list_status,list_url,lot_sqft,mls_num,pool,real_comp_link,real_comp_name,real_link,real_name,stories,unknown_data,year_built
0,"14619 Forest Lodge Drive, Houston, TX 77070",.2 Full & 1 Half Bath(s),4 Bed(s),".2,712 Building Sqft.","Single-Family Property, Traditional Style in Hunterwood Forest Subdivision in Cypress North (Market Area)",2 Garage(s) / Detached,background-image:url(https://photos.harstatic.com/174739766/lr/img-1.jpeg?ts=2019-06-13T16:05:58.527);,"$ 259,888",For Sale,/14619-forest-lodge-drive/sale_68979419,"8,080 Lot Sqft.",MLS# 68979419,No Private Pool,/re_max-fine-properties/broker_RMFP01,RE/MAX Fine Properties,/dionne-randle/agent_DRAN,Dionne Randle,.2 Stories,NaN,Built in 1983

In [219]:
# List all column names
df.columns

Index(['address', 'bathrooms', 'bedrooms', 'building_sqft', 'desc', 'garages',
       'img_url', 'list_price', 'list_status', 'list_url', 'lot_sqft',
       'mls_num', 'pool', 'real_comp_link', 'real_comp_name', 'real_link',
       'real_name', 'stories', 'unknown_data', 'year_built'],
      dtype='object')

In [220]:
# List all column data types
df.dtypes

address           object
bathrooms         object
bedrooms          object
building_sqft     object
desc              object
garages           object
img_url           object
list_price        object
list_status       object
list_url          object
lot_sqft          object
mls_num           object
pool              object
real_comp_link    object
real_comp_name    object
real_link         object
real_name         object
stories           object
unknown_data      object
year_built        object
dtype: object

# Zip Code

1. Slice zipcode from address column

2. Preview unique zipcodes

3. Remove/fix strange zipcodes

4. Preview number of properties per zipcode

5. Drop properties in zipcodes with less than 20 results

6. Drop properties

7. Remove properties with 'nan' for zipcode and set final form to string

In [221]:
# Slice zipcode from address
df['zipcode'] = df.address.map(lambda x: x[-5:])
# Preview unique zipcodes
df.zipcode.unique()

array(['77070', '77083', '77044', '77075', '77068', '77084', '77087',
       '77051', '77059', '77024', '77018', '77035', '77045', '77041',
       '77008', '77096', '77063', '77007', '77080', '77047', '77026',
       '77015', '77082', '77034', '77021', '77073', '77023', '77016',
       '77061', '77079', '77089', '77055', '77062', '77091', '77049',
       '77066', '77339', '77042', '77022', '77433', '77345', '77095',
       '77077', '77025', '77346', '77098', '77043', '77004', '77094',
       '77020', '77072', '77069', '77040', '77013', '77033', '77017',
       '77037', '77039', '77032', '77064', '77009', '77019', '77027',
       '77058', '77074', '77014', '77489', '77029', '77099', '77081',
       '77065', '77003', '77092', '77036', '77006', '77057', '77056',
       '77088', '77090', '77012', '77076', '77086', '77038', '77598',
       '77060', '77336', '77005', '77093', '77078', '77028', '77011',
       '77031', '77071', '77030', '77050', '77085', '77053', '77048',
       '77054', '77350', '77067', '77477', '77396', '77002', '77338',
       '77504', '77365', '77373', '77586', '77483', '-1273'], dtype=object)

In [222]:
# Preview property with strange zipcode '-1273'
df[df.zipcode == '-1273']

,address,bathrooms,bedrooms,building_sqft,desc,garages,img_url,list_price,list_status,list_url,lot_sqft,mls_num,pool,real_comp_link,real_comp_name,real_link,real_name,stories,unknown_data,year_built,zipcode
9803,"2218 Lazybrook Drive, Houston, TX 77008-1273",.2 Full Bath(s),3 Bed(s),".1,411 Building Sqft.","Single-Family Property, Ranch,Traditional Style in Lazybrook Subdivision in Timbergrove/Lazybrook (Market Area)",2 Garage(s) / Attached,background-image:url(https://photos.harstatic.com/174712810/lr/img-1.jpeg?ts=2019-06-13T13:33:30.973);,"$ 449,500",For Sale,/2218-lazybrook-drive/sale_80751978,"7,200 Lot Sqft.",MLS# 80751978,No Private Pool,/coldwell-banker-united-realtors---metropolitan/broker_COLD03,"Coldwell Banker United, Realtors - Metropolitan",/steve-louis/agent_LOUIS,Steve Louis,.1 Stories,NaN,Built in 1957,-1273

In [223]:
# Replace record with correct zipcode
df.at[5104, 'zipcode'] = 77008

In [224]:
# Sanity check. Is the strange zipcode gone?
df[df.zipcode == '-1273']

,address,bathrooms,bedrooms,building_sqft,desc,garages,img_url,list_price,list_status,list_url,lot_sqft,mls_num,pool,real_comp_link,real_comp_name,real_link,real_name,stories,unknown_data,year_built,zipcode
9803,"2218 Lazybrook Drive, Houston, TX 77008-1273",.2 Full Bath(s),3 Bed(s),".1,411 Building Sqft.","Single-Family Property, Ranch,Traditional Style in Lazybrook Subdivision in Timbergrove/Lazybrook (Market Area)",2 Garage(s) / Attached,background-image:url(https://photos.harstatic.com/174712810/lr/img-1.jpeg?ts=2019-06-13T13:33:30.973);,"$ 449,500",For Sale,/2218-lazybrook-drive/sale_80751978,"7,200 Lot Sqft.",MLS# 80751978,No Private Pool,/coldwell-banker-united-realtors---metropolitan/broker_COLD03,"Coldwell Banker United, Realtors - Metropolitan",/steve-louis/agent_LOUIS,Steve Louis,.1 Stories,NaN,Built in 1957,-1273

In [225]:
# Check number of properties per zipcode
df.zipcode.value_counts()

77008    473
77007    418
77044    391
77084    383
77077    363
77018    344
77009    315
77095    306
77055    284
77096    279
77080    246
77079    237
77070    202
77043    183
77082    180
77041    178
77004    177
77069    177
77059    169
77083    161
77025    152
77035    151
77092    150
77042    139
77088    132
77006    124
77073    121
77089    119
77066    116
77063    114
        ...
77030    27
77489    27
77067    26
77039    24
77005    23
77027    22
77076    20
77012    18
77396    16
77085    15
77346    14
77336    13
77013    13
77032    11
77060    11
77598    11
77037    11
77477    6
77365    4
77002    4
77050    2
77586    1
77504    1
77373    1
77008    1
77350    1
77338    1
-1273    1
77433    1
77483    1
Name: zipcode, Length: 112, dtype: int64

In [226]:
# Grab unique zips and how many times they appear
keep_zips = df.zipcode.value_counts()
# Grab only zips that have >= 20 instances (more than 20 properties in this zip)
keep_zips = keep_zips[keep_zips.values >= 20].index
# Finalize dataframe to include only properties with zipcodes in keep_zips list
df = df[df.zipcode.isin(keep_zips)]

In [227]:
# Drop properteis with 'nan' for zipcode and set final form
df.dropna(inplace=True, subset=['zipcode'])
df.zipcode = df.zipcode.astype(str)

In [228]:
# Sanity Check.  Does the zipcode with the least properties contain 20
# 20 properties?
df.zipcode.value_counts().values.min()

20

# Bathrooms Column

1. View unique bathroom entries

2. Strip text from entries

3. Split full bathroom and half bathroom values

4. Drop the original bathroom column

5. Replace half bath entries of 'nan' with 0 so properties aren't removed when dropping
    full bath 'nan' properties
    
6. Drop 'nan' properties and set final form

In [229]:
# View unique bathroom entries
df.bathrooms.unique()

array(['.2 Full & 1 Half Bath(s)', '.2 Full  Bath(s)',
       '.3 Full & 1 Half Bath(s)', '.3 Full  Bath(s)', '.4 Full  Bath(s)',
       '.1 Full  Bath(s)', '.4 Full & 1 Half Bath(s)',
       '.1 Full & 1 Half Bath(s)', '.2 Full & 2 Half Bath(s)',
       '.3 Full & 2 Half Bath(s)', '.5 Full & 1 Half Bath(s)', nan,
       '.4 Full & 2 Half Bath(s)', '.1 Full & 2 Half Bath(s)',
       '.6 Full  Bath(s)', '.5 Full  Bath(s)', '.5 Full & 2 Half Bath(s)',
       '.9 Full & 3 Half Bath(s)', '.2 Full & 4 Half Bath(s)',
       '.2 Full & 3 Half Bath(s)', '.3 Full & 3 Half Bath(s)',
       '.6 Full & 1 Half Bath(s)', '.4 Full & 3 Half Bath(s)',
       '.9 Full & 2 Half Bath(s)', '.2 Full & 9 Half Bath(s)',
       '.2 Full & 5 Half Bath(s)'], dtype=object)

In [230]:
# Strip text from entries
df.bathrooms = df.bathrooms.astype(str)
df.bathrooms = df.bathrooms.map(lambda x: x.strip('.').strip('Bath(s)'))
df.bathrooms = df.bathrooms.map(lambda x: x.replace('Half',"").replace('Full',"").replace("&",""))
df.bathrooms = df.bathrooms.map(lambda x: x.strip())

In [231]:
# Split single column into 2 columns with a max of '1' split per row.
df['full_baths'], df['half_baths'] = df.bathrooms.str.split(' ', 1).str
df.half_baths = df.half_baths.str.lstrip()

In [232]:
# Drop original bathroom column
df.drop(columns='bathrooms', inplace=True)

In [233]:
# See unique full bathroom values
df.full_baths.unique()

array(['2', '3', '4', '1', '5', 'nan', '6', '9'], dtype=object)

In [234]:
# See unique half bathroom values
df.half_baths.unique()

array(['1', nan, '2', '3', '4', '9', '5'], dtype=object)

In [235]:
# Remove nan's and set final form
# Pandas won't find NaN if not datatype not float...
df.full_baths = df.full_baths.astype(float)
df.dropna(subset=['full_baths'], inplace=True)
# Replace NaN with 0 for half bath values (don't want to remove property if it doesn't have a half bath)
df.half_baths.fillna(0, inplace=True)
df.full_baths = df.full_baths.astype(int)
df.half_baths = df.half_baths.astype(int)

In [236]:
# Sanity Check: How many properties did we remove? Are nan's gone?
print(df.shape)
print(df.full_baths.unique())
print(df.half_baths.unique())

(10322, 22)
[2 3 4 1 5 6 9]
[1 0 2 3 4 9 5]

# Bedrooms Column

1. View unique bedroom entries

2. Strip text from entries

3. Build helper function to create bedroom value for properties listed with a range of bedrooms

4. Remove properties without bedrooms listed
    
5. Drop 'nan' properties and set final form

In [237]:
# View unique bedroom entries
df.bedrooms.unique()

array(['4 Bed(s)', '5 Bed(s)', '3 Bed(s)', '2 Bed(s)', '3-4  Bed(s)',
       '4-5  Bed(s)', '5-6  Bed(s)', '8 Bed(s)', '2-3  Bed(s)',
       '6 Bed(s)', '4-6  Bed(s)', '3-5  Bed(s)', '1 Bed(s)',
       '6-8  Bed(s)', '5-7  Bed(s)', '1-2  Bed(s)', '7 Bed(s)', nan,
       '3-9  Bed(s)', '9 Bed(s)', '1-4  Bed(s)', '9-13  Bed(s)',
       '2-6  Bed(s)'], dtype=object)

In [238]:
# Remove string 'Bed(s)'
df.bedrooms = df.bedrooms.astype(str)
df.bedrooms = df.bedrooms.map(lambda x: x.replace('Bed(s)', ''))
df.bedrooms = df.bedrooms.str.strip()

In [239]:
# Helper function that averages bedrooms data if a range of bedrooms is given
def avgBeds(bedrooms):
    if '-' in bedrooms:
        sum = float(bedrooms[0])+float(bedrooms[-1])
        bedrooms = sum/2.0
    return bedrooms

In [240]:
# Take average of bedrooms for properties with a range of bedrooms
df.bedrooms = df.bedrooms.apply(avgBeds);

In [241]:
# Sanity Check - Preview bedrooms column 
df.bedrooms[:10]

0    4
1    4
2    4
3    4
4    4
5    5
6    5
7    4
8    3
9    4
Name: bedrooms, dtype: object

In [242]:
# How many homes don't have bedrooms? Must be a float to pick up nan's...
df.bedrooms = df.bedrooms.astype(float)
df.bedrooms.isna().sum()

14

In [243]:
# Remove nan's (propertie without bedroom data) and set final form
df.dropna(inplace=True, subset=['bedrooms'])
df.bedrooms.astype(float);

# Building Sqft Column

1. View unique building sqft entries

2. Strip text from entries

3. Remove properties without bedrooms listed
    
4. Drop 'nan' properties and set final form

In [244]:
# View unique entries
df.building_sqft[:5]

0    .2,712 Building Sqft.
1    .2,318 Building Sqft.
2    .1,864 Building Sqft.
3    .2,785 Building Sqft.
4    .3,259 Building Sqft.
Name: building_sqft, dtype: object

In [245]:
# Strip text from entries
df.building_sqft = df.building_sqft.astype(str)
df.building_sqft = df.building_sqft.map(lambda x: x.lstrip('.'))
df.building_sqft = df.building_sqft.map(lambda x: x.replace('Building Sqft.', ''))
df.building_sqft = df.building_sqft.map(lambda x: x.replace(',', ''))

In [246]:
# Preview building_sqft column
df.building_sqft[:5]

0    2712
1    2318
2    1864
3    2785
4    3259
Name: building_sqft, dtype: object

In [247]:
# Must be float to pick up NaN.  How many homes don't have sqft listed?
df.building_sqft = df.building_sqft.astype(float)
df.building_sqft.isna().sum()

40

In [248]:
# Remove nan's (properties without building sqft listed) and Set Final Form
df.dropna(inplace=True, subset=['building_sqft'])
df.building_sqft.astype(int);

# Garages Column

1. View unique building sqft entries

2. Split garage value from garage type

3. Drop properties with ridiculous garage numbers
    
4. Drop 'nan' properties and set final form

In [249]:
# View column form
df.garages[0:5]

0    2 Garage(s) / Detached
1    2 Garage(s) / Attached
2    2 Garage(s) / Attached
3    2 Garage(s) / Attached
4    2 Garage(s) / Attached
Name: garages, dtype: object

Let's split at '/' and then worry about uniqueness later

In [250]:
# Split garage column into value and type
df['garages'], df['garage_type'] = df.garages.str.split('/', 1).str

In [251]:
# View unqiue garage counts
df.garages.unique()

array(['2 Garage(s) ', '1 Garage(s) ', '3 Garage(s) ', nan,
       '4 Garage(s) ', '5 Garage(s) ', '21 Garage(s) ', '6 Garage(s) ',
       '40 Garage(s) ', '32 Garage(s) ', '66 Garage(s) ', '36 Garage(s) ',
       '60 Garage(s) ', '18 Garage(s) ', '12 Garage(s) ', '43 Garage(s) ',
       '22 Garage(s) ', '45 Garage(s) ', '50 Garage(s) ', '24 Garage(s) ',
       '48 Garage(s) ', '8234 Garage(s) '], dtype=object)

In [252]:
# Change 'nan' to 0.  We'll assume the property doesn't have a garage if value is nan.
df.garages.fillna(0, inplace=True)

In [253]:
# Strip strings
df.garages = df.garages.astype(str)
df.garages = df.garages.map(lambda x: x.replace('Garage(s)', ''))
df.garages = df.garages.map(lambda x: x.rstrip().lstrip())

In [254]:
# View unqiue garage values and how often they appear
df.garages.value_counts()

2       7478
0       1058
1       1020
3       630
4       51
6       9
5       6
60      2
18      1
45      1
12      1
24      1
50      1
36      1
8234    1
32      1
66      1
43      1
48      1
22      1
21      1
40      1
Name: garages, dtype: int64

In [255]:
# Drop any properties that claim to have multi-digit garages
df2 = df[df.garages.map(lambda x: len(x)<=1)]

In [256]:
# Swap back to original df variable so we don't get confused.
df = df2
# Sanity Check - Did we drop properties with multi-gigit garages?
df.garages.value_counts()

2    7478
0    1058
1    1020
3    630
4    51
6    9
5    6
Name: garages, dtype: int64

In [257]:
# Remove nan's and Set Final Form
df.dropna(inplace=True, subset=['garages'])
df.garages.astype(int);

In [258]:
# Final Sanity Check
df.head()

,address,bedrooms,building_sqft,desc,garages,img_url,list_price,list_status,list_url,lot_sqft,mls_num,pool,real_comp_link,real_comp_name,real_link,real_name,stories,unknown_data,year_built,zipcode,full_baths,half_baths,garage_type
0,"14619 Forest Lodge Drive, Houston, TX 77070",4.0,2712.0,"Single-Family Property, Traditional Style in Hunterwood Forest Subdivision in Cypress North (Market Area)",2,background-image:url(https://photos.harstatic.com/174739766/lr/img-1.jpeg?ts=2019-06-13T16:05:58.527);,"$ 259,888",For Sale,/14619-forest-lodge-drive/sale_68979419,"8,080 Lot Sqft.",MLS# 68979419,No Private Pool,/re_max-fine-properties/broker_RMFP01,RE/MAX Fine Properties,/dionne-randle/agent_DRAN,Dionne Randle,.2 Stories,NaN,Built in 1983,77070,2,1,Detached
1,"7227 Ironwood Forest Dr, Houston, TX 77083",4.0,2318.0,"Single-Family Property, Contemporary/Modern Style in Terra Del Sol Sec 5 Subdivision in Alief (Market Area)",2,background-image:url(https://photos.harstatic.com/172024720/lr/img-1.jpeg?ts=2019-04-03T14:02:08.420);,"$ 259,883",For Sale,/7227-ironwood-forest-dr/sale_20983504,"3,852 Lot Sqft.",MLS# 20983504,No Private Pool,/keller-williams-realty-southwest/broker_KWSW01,Keller Williams Realty Southwest,/karine-dsouza/agent_karined,Karine D'Souza,.2 Stories,NaN,Built in 2016,77083,2,1,Attached
2,"18223 Humber River Lane, Houston, TX 77044",4.0,1864.0,"Single-Family Property, Traditional Style in Bridges On Lake Houston Subdivision in North Channel (Market Area)",2,background-image:url(https://photos.harstatic.com/173912336/lr/img-1.jpeg?ts=2019-05-22T22:24:56.040);,"$ 259,840",Under Contract - Pending,/18223-humber-river-lane/sale_17426339,"9,691 Lot Sqft.",MLS# 17426339,No Private Pool,/realty-associates-------------/broker_PBME01,Realty Associates,/damaris-putman/agent_putman,Damaris Putman,.1 Stories,NaN,Built in 2019,77044,2,0,Attached
3,"15318 Wandering Creek Trail, Houston, TX 77044",4.0,2785.0,"Single-Family Property, Traditional Style in Sheldon Ridge Subdivision in Atascocita South (Market Area)",2,background-image:url(https://photos.harstatic.com/173895706/lr/img-1.jpeg?ts=2019-05-22T15:15:11.253);,"$ 259,635",Under Contract - Pending,/15318-wandering-creek-trail/sale_9360030,NaN,MLS# 9360030,No Private Pool,/keller-williams-platinum/broker_KWPD01,Keller Williams Platinum,/lance-loken/agent_Loken,Lance Loken,.2 Stories,NaN,Built in 2019,77044,2,1,Attached
4,"10215 Altmor Lane, Houston, TX 77075",4.0,3259.0,"Single-Family Property, Contemporary/Modern Style in Clearwood Xing Sec 02 Subdivision in Southbelt/Ellington (Market Area)",2,background-image:url(https://photos.harstatic.com/174026839/lr/img-1.jpeg?ts=2019-05-25T22:04:29.283);,"$ 259,500",For Sale,/10215-altmor-lane/sale_68945839,"6,558 Lot Sqft.",MLS# 68945839,No Private Pool,/trini-j-realty-corp/broker_TENO01,Trini J Realty Corp,/melinda-tran/agent_mmtran,Melinda Tran,.2 Stories,NaN,Built in 2005,77075,3,1,Attached

In [259]:
# Preview garage type data.  We'll leave this alone for now but might
# revisit th is column for cleanup/analysis later.
df2.garage_type.unique()

array([' Detached', ' Attached', ' Attached,Oversized', nan,
       ' Attached/Detached', ' Detached,Oversized',
       ' Attached/Detached,Detached,Oversized',
       ' Attached,Attached/Detached', ' Detached,Tandem',
       ' Attached,Detached', ' Tandem', ' Detached,Oversized,Tandem',
       ' Attached/Detached,Detached', ' Attached/Detached,Oversized',
       ' Attached,Tandem', ' Oversized', ' Attached,Oversized,Tandem',
       ' Attached,Attached/Detached,Oversized',
       ' Attached/Detached,Tandem',
       ' Attached,Attached/Detached,Detached',
       ' Attached/Detached,Oversized,Tandem',
       ' Attached,Attached/Detached,Detached,Over',
       ' Attached,Detached,Oversized'], dtype=object)

# IMG URL Column

1. Show first entry

2. Define helper function to clean end of url entry

3. Update setting so pandas doesn't truncate url preview

In [260]:
# Show first entry
df.img_url[0]

'background-image:url(https://photos.harstatic.com/174739766/lr/img-1.jpeg?ts=2019-06-13T16:05:58.527);'

In [261]:
# Helper function to clean back of url
def cleanURL(img_url):
    if '?' in img_url:
        img_url = img_url.replace(img_url[img_url.index('?'):],'')
    return img_url

In [262]:
# Clean urls
df.img_url = df.img_url.astype(str)
df.img_url = df.img_url.map(lambda x: x.lstrip('background-image:url('))
df.img_url = df.img_url.apply(cleanURL)

In [263]:
# Turn off truncating of URLs
pd.set_option('display.max_colwidth', -1)

In [264]:
# Sanity Check - Did changes produce clean URLs?
df.img_url[0:5]

0    https://photos.harstatic.com/174739766/lr/img-1.jpeg
1    https://photos.harstatic.com/172024720/lr/img-1.jpeg
2    https://photos.harstatic.com/173912336/lr/img-1.jpeg
3    https://photos.harstatic.com/173895706/lr/img-1.jpeg
4    https://photos.harstatic.com/174026839/lr/img-1.jpeg
Name: img_url, dtype: object

# List Price Column

1. Show first 5 entries

2. Strip non-numeric characters

3. Drop nan's and set final form

In [265]:
# Show first 5 entries
df.list_price[0:5]

0     $ 259,888
1     $ 259,883
2     $ 259,840
3     $ 259,635
4     $ 259,500
Name: list_price, dtype: object

In [266]:
# String non-numeric values
df.list_price = df.list_price.map(lambda x: x.replace('$','').replace(',',''))
df.list_price = df.list_price.astype(int)

In [267]:
# Remove nan's and Set Final Form
df.dropna(inplace=True, subset=['list_price'])
df.list_price.astype(int);

In [268]:
# Sanity-Check
df.list_price[0:5]

0    259888
1    259883
2    259840
3    259635
4    259500
Name: list_price, dtype: int64

# List Status Column

1. View unique entries

In [269]:
# View unique entries - All looks good!
df.list_status.unique()

array(['For Sale', 'Under Contract - Pending',
       'Under Contract - Pending Continue to Show',
       'Under Contract - Option Pending'], dtype=object)

# List URL Column

1. Display column form

2. Concatenate beginning url path

In [270]:
# Display column form
df.list_url[0:5]

0    /14619-forest-lodge-drive/sale_68979419
1    /7227-ironwood-forest-dr/sale_20983504
2    /18223-humber-river-lane/sale_17426339
3    /15318-wandering-creek-trail/sale_9360030
4    /10215-altmor-lane/sale_68945839
Name: list_url, dtype: object

In [271]:
# Concatenate beginning url path
df.list_url = df.list_url.map(lambda x: 'http://www.har.com'+x)

In [272]:
# Display update
df.list_url[0:5]

0    http://www.har.com/14619-forest-lodge-drive/sale_68979419
1    http://www.har.com/7227-ironwood-forest-dr/sale_20983504
2    http://www.har.com/18223-humber-river-lane/sale_17426339
3    http://www.har.com/15318-wandering-creek-trail/sale_9360030
4    http://www.har.com/10215-altmor-lane/sale_68945839
Name: list_url, dtype: object

# Lot Sqft Column

1. Display column form

2. Strip strings

3. Count nan's.  Too many properties contain nan for lot sqft column to remove.  This feature won't be used in first data analysis attempts.

In [273]:
# Display column form
df.lot_sqft[0:5]

0    8,080 Lot Sqft.
1    3,852 Lot Sqft.
2    9,691 Lot Sqft.
3    NaN
4    6,558 Lot Sqft.
Name: lot_sqft, dtype: object

In [274]:
# Strip strings
df.lot_sqft = df.lot_sqft.astype(str)
df.lot_sqft = df.lot_sqft.map(lambda x: x.replace('Lot Sqft.', ''))
df.lot_sqft = df.lot_sqft.map(lambda x: x.replace(',', ''))
df.lot_sqft = df.lot_sqft.astype(float)

In [275]:
# View Update
df.lot_sqft[0:5]

0    8080.0
1    3852.0
2    9691.0
3   NaN
4    6558.0
Name: lot_sqft, dtype: float64

In [276]:
# Must be float to pick up nan.  How many homes don't have sqft listed?
# There are too many properties missing lot sqft entries to delete.
df.lot_sqft = df.lot_sqft.astype(float)
df.lot_sqft.isna().sum()

607

# MLS Number Column

1. View column form

2. Strip strings

In [277]:
# View column form
df.mls_num[0:5]

0    MLS# 68979419
1    MLS# 20983504
2    MLS# 17426339
3    MLS# 9360030
4    MLS# 68945839
Name: mls_num, dtype: object

In [278]:
# Strip strings
df.mls_num = df.mls_num.map(lambda x: x.replace('MLS# ', ''))

In [279]:
# View update
df.mls_num[0:5]

0    68979419
1    20983504
2    17426339
3    9360030
4    68945839
Name: mls_num, dtype: object

# Pool Column

1. View unique entries

2. Strip beginning and ending whitespace

In [280]:
# View unique entries
df.pool.unique()

array(['No Private Pool ', ' Has Private Pool'], dtype=object)

In [281]:
# Remove beginning and ending whitespace
df.pool = df.pool.str.strip()

In [282]:
df.pool[0:5]

0    No Private Pool
1    No Private Pool
2    No Private Pool
3    No Private Pool
4    No Private Pool
Name: pool, dtype: object

# Realtor Company Link Column

1. View column form

2. Add beginning path to url

In [283]:
# View column form
df.real_comp_link[0:5]

0    /re_max-fine-properties/broker_RMFP01
1    /keller-williams-realty-southwest/broker_KWSW01
2    /realty-associates-------------/broker_PBME01
3    /keller-williams-platinum/broker_KWPD01
4    /trini-j-realty-corp/broker_TENO01
Name: real_comp_link, dtype: object

In [284]:
# Add beginning path to url
df.real_comp_link = df.real_comp_link.map(lambda x: 'http://www.har.com'+x)

In [285]:
# View updates
df.real_comp_link[0:5]

0    http://www.har.com/re_max-fine-properties/broker_RMFP01
1    http://www.har.com/keller-williams-realty-southwest/broker_KWSW01
2    http://www.har.com/realty-associates-------------/broker_PBME01
3    http://www.har.com/keller-williams-platinum/broker_KWPD01
4    http://www.har.com/trini-j-realty-corp/broker_TENO01
Name: real_comp_link, dtype: object

# Realtor Company Name Column

1. View column form

In [286]:
# View column form - Looks good!
df.real_comp_name[0:5]

0    RE/MAX Fine Properties
1    Keller Williams Realty Southwest
2    Realty Associates
3    Keller Williams Platinum
4    Trini J Realty Corp
Name: real_comp_name, dtype: object

# Realtor Link

1. View column form

2. Add beginning path to url

In [287]:
# View column form
df.real_link[0:5]

0    /dionne-randle/agent_DRAN
1    /karine-dsouza/agent_karined
2    /damaris-putman/agent_putman
3    /lance-loken/agent_Loken
4    /melinda-tran/agent_mmtran
Name: real_link, dtype: object

In [288]:
# Add beginning path to url
df.real_link = df.real_link.map(lambda x: 'http://www.har.com'+x)

In [289]:
# View Update
df.real_link[0:5]

0    http://www.har.com/dionne-randle/agent_DRAN
1    http://www.har.com/karine-dsouza/agent_karined
2    http://www.har.com/damaris-putman/agent_putman
3    http://www.har.com/lance-loken/agent_Loken
4    http://www.har.com/melinda-tran/agent_mmtran
Name: real_link, dtype: object

# Realtor Name

1. View column form

In [290]:
# View column form - Looks good!
df.real_name[0:5]

0    Dionne Randle
1    Karine D'Souza
2    Damaris Putman
3    Lance Loken
4    Melinda Tran
Name: real_name, dtype: object

# Stories Column

1. View unique entries

2. Strip strings

In [291]:
# View unique entries
df.stories.unique()

array(['.2 Stories', '.1 Stories', '.3 Stories', '.1.5 Stories',
       '.4 Stories', '.2.5 Stories', '.5 Stories'], dtype=object)

In [292]:
# Strip strings
df.stories = df.stories.astype(str)
df.stories = df.stories.map(lambda x: x.lstrip('.').rstrip('Stories'))
df.stories = df.stories.astype(float)

In [293]:
# View updates
df.stories[:5]

0    2.0
1    2.0
2    1.0
3    2.0
4    2.0
Name: stories, dtype: float64

In [294]:
# Sanity Check - Do values look appropriate?
df.stories.unique()

array([2. , 1. , 3. , 1.5, 4. , 2.5, 5. ])

# Unknown Column

After reviewing the unknown column, the only datatype missing from the original parsing is "Acres".  It's likely that the land area associated with the property is either listed as "lot sqft" or "acres".  If this is verified, a conversion could be created.  However, this will not be considered in the original analysis, the unknown column simply won't be used.

In [295]:
df.unknown_data.unique()

array([nan, '1.37 Acre(s)', '1.88 Acre(s)', '1.26 Acre(s)', '5 Acre(s)',
       '1.20 Acre(s)', '1.15 Acre(s)', '1.03 Acre(s)', '0.05 Acre(s)',
       '1.01 Acre(s)', '1.42 Acre(s)', '2.32 Acre(s)', '1.11 Acre(s)',
       '1.23 Acre(s)', '0.56 Acre(s)', '1.09 Acre(s)', '0.53 Acre(s)',
       '3.45 Acre(s)', '1.21 Acre(s)', '2.47 Acre(s)', '1.08 Acre(s)',
       '0.11 Acre(s)', '1.10 Acre(s)', '1.64 Acre(s)', '1.06 Acre(s)',
       '0.07 Acre(s)', '0.18 Acre(s)', '1 Acre(s)', '2.17 Acre(s)',
       '1.97 Acre(s)', '0.96 Acre(s)', '1.02 Acre(s)', '0.61 Acre(s)',
       '2 Acre(s)', '2.01 Acre(s)', '1.04 Acre(s)', '1.50 Acre(s)',
       '0.43 Acre(s)', '4.82 Acre(s)', '2.71 Acre(s)', '1.32 Acre(s)',
       '0.55 Acre(s)', '0.16 Acre(s)', '2.13 Acre(s)', '1.07 Acre(s)',
       '0.69 Acre(s)', '1.14 Acre(s)', '1.22 Acre(s)', '4.81 Acre(s)',
       '1.92 Acre(s)', '2.98 Acre(s)', '2.83 Acre(s)', '1.30 Acre(s)',
       '0.68 Acre(s)', '2.24 Acre(s)', '0.13 Acre(s)', '0.30 Acre(s)',
       '0.06 Acre(s)', '1.66 Acre(s)', '1.60 Acre(s)', '0.04 Acre(s)'],
      dtype=object)

# Year Built Column

1. View column form

2. Strip strings

3. Count properties that don't have year built listed

3. Remove nan's and set final form

In [296]:
# View column form
df.year_built[0:5]

0    Built in 1983
1    Built in 2016
2    Built in 2019
3    Built in 2019
4    Built in 2005
Name: year_built, dtype: object

In [297]:
# Strip strings
df.year_built = df.year_built.astype(str)
df.year_built = df.year_built.map(lambda x: x.replace('Built in ', ''))

In [298]:
# View update
df.year_built[0:5]

0    1983
1    2016
2    2019
3    2019
4    2005
Name: year_built, dtype: object

In [299]:
# Must be float to pick up nan's.  How many properties don't have year build listed?
df.year_built = df.year_built.astype(float)
df.year_built.isna().sum()

71

In [300]:
# Remove nan's and Set Final Form
df.dropna(inplace=True, subset=['year_built'])
df.year_built.astype(int);

# Final Sanity Check!

As a final data review we'll see how many unique results our data cleaning has left.  We'll also view the first few results to ensure all columns are formatted as expected.

In [301]:
print(df.shape)
df.head()

(10181, 23)

,address,bedrooms,building_sqft,desc,garages,img_url,list_price,list_status,list_url,lot_sqft,mls_num,pool,real_comp_link,real_comp_name,real_link,real_name,stories,unknown_data,year_built,zipcode,full_baths,half_baths,garage_type
0,"14619 Forest Lodge Drive, Houston, TX 77070",4.0,2712.0,"Single-Family Property, Traditional Style in Hunterwood Forest Subdivision in Cypress North (Market Area)",2,https://photos.harstatic.com/174739766/lr/img-1.jpeg,259888,For Sale,http://www.har.com/14619-forest-lodge-drive/sale_68979419,8080.0,68979419,No Private Pool,http://www.har.com/re_max-fine-properties/broker_RMFP01,RE/MAX Fine Properties,http://www.har.com/dionne-randle/agent_DRAN,Dionne Randle,2.0,NaN,1983.0,77070,2,1,Detached
1,"7227 Ironwood Forest Dr, Houston, TX 77083",4.0,2318.0,"Single-Family Property, Contemporary/Modern Style in Terra Del Sol Sec 5 Subdivision in Alief (Market Area)",2,https://photos.harstatic.com/172024720/lr/img-1.jpeg,259883,For Sale,http://www.har.com/7227-ironwood-forest-dr/sale_20983504,3852.0,20983504,No Private Pool,http://www.har.com/keller-williams-realty-southwest/broker_KWSW01,Keller Williams Realty Southwest,http://www.har.com/karine-dsouza/agent_karined,Karine D'Souza,2.0,NaN,2016.0,77083,2,1,Attached
2,"18223 Humber River Lane, Houston, TX 77044",4.0,1864.0,"Single-Family Property, Traditional Style in Bridges On Lake Houston Subdivision in North Channel (Market Area)",2,https://photos.harstatic.com/173912336/lr/img-1.jpeg,259840,Under Contract - Pending,http://www.har.com/18223-humber-river-lane/sale_17426339,9691.0,17426339,No Private Pool,http://www.har.com/realty-associates-------------/broker_PBME01,Realty Associates,http://www.har.com/damaris-putman/agent_putman,Damaris Putman,1.0,NaN,2019.0,77044,2,0,Attached
3,"15318 Wandering Creek Trail, Houston, TX 77044",4.0,2785.0,"Single-Family Property, Traditional Style in Sheldon Ridge Subdivision in Atascocita South (Market Area)",2,https://photos.harstatic.com/173895706/lr/img-1.jpeg,259635,Under Contract - Pending,http://www.har.com/15318-wandering-creek-trail/sale_9360030,NaN,9360030,No Private Pool,http://www.har.com/keller-williams-platinum/broker_KWPD01,Keller Williams Platinum,http://www.har.com/lance-loken/agent_Loken,Lance Loken,2.0,NaN,2019.0,77044,2,1,Attached
4,"10215 Altmor Lane, Houston, TX 77075",4.0,3259.0,"Single-Family Property, Contemporary/Modern Style in Clearwood Xing Sec 02 Subdivision in Southbelt/Ellington (Market Area)",2,https://photos.harstatic.com/174026839/lr/img-1.jpeg,259500,For Sale,http://www.har.com/10215-altmor-lane/sale_68945839,6558.0,68945839,No Private Pool,http://www.har.com/trini-j-realty-corp/broker_TENO01,Trini J Realty Corp,http://www.har.com/melinda-tran/agent_mmtran,Melinda Tran,2.0,NaN,2005.0,77075,3,1,Attached

# Save New CSV

Saving a new CSV gives us a clean dataset to use for data analysis and machine learning.  Additional data manipulation will still be needed (dependent on data analysis method used), but this should get us 90% to our end goal.

In [302]:
df.to_csv(output_dir+'CLEAN_'+filename, index=False)

# Done!